# Flutter-related
**/Flutter/ephemeral/
**/Pods/

# Xcode-related
**/dgph
**/xcuserdata/

# Ignore google key files
GoogleService-Info.plist
google-services.json
firebase_options.dart
firebase_app_id_file.json
firebase.json